<% if current_user.following.any? %>
  <div id="followeds" class="span-12 last">
    <div class="middle">
      <%= pluralize(current_user.following.count, 'followed') %>
    </div>
    <% current_user.following.each do |followed| %>
      <div class="section">
        <div class="span-1">
          <%= gravatar_for followed, :size => 32 %>
        </div>
        <div class="span-11 last middle">
          <%= link_to followed.email, followed %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
