<h1>Users#home</h1>
<p>Find me in app/views/users/home.html.erb</p>

<div><%= current_user.email %></div>

<div>What’s happening?</div>

<%= render :template => 'tweets/new' %>

<div id="tweets">
  <%= render 'layouts/tweets' %>
</div>

<% if @page > 1 %>
  <%= render 'layouts/more_tweets' %>
<% end %>

