<h1>List of users</h1>

<% @users.each do |user| %>
  <% if user.id != current_user.id %>
  <div class="user">
    <%= render :partial => 'layouts/gravatar', :locals => { :user => user } %>
    <%= link_to user.email, user, :class => "email" %>
  </div>
  <% end %>
<% end %>

