<div class="section">
  <div class="span-1 prepend-16">
    <%= link_to 'Home', root_path %>
  </div>
  <div class="span-2 last">
    <%= link_to "Sign out", destroy_user_session_path %>
  </div>
</div>
